.divEl {
    display: flex;
    justify-content: space-evenly;
}

.btnEl {
	background-color: var(--secondary) !important;
	color: var(--tertiary) !important;
    transition: 0.75s;
}

.btnEl:hover {
    background-color: var(--tertiary) !important;
	color: var(--secondary) !important;
    transition: 0.75s
}