footer {
	justify-content: space-between;
	display: flex;
	color: var(--secondary);
	font-size: larger;
}
footer nav {
	display: flex;
	justify-content: space-evenly;
}
a {
	padding: 10px;
	margin: auto 10px;
	text-decoration: none;
	color: var(--secondary);
	font-size: 1em;
	transition: 0.5s;
}

a:hover {
	color: var(--quartenary);
	font-size: 1.1em;
	transition: 0.5s;
}

svg {
	height: 3em;
}
.fillerCol{
	fill: #48cae4;
	transition: 0.5s;
}
svg:hover .fillerCol {
	fill: #b23a48;
	transition: 0.5s;
}
.auxiliaryCol {
	fill: #b23a48;
	transition: 0.5s;
}
svg:hover .auxCol {
	fill: #48cae4;
	transition: 0.5s;
}

.outlineCol{
	fill: #424b54
}