footer {
	justify-content: space-between;
	display: flex;
	color: var(--secondary);
	font-size: larger;
}
footer nav {
	display: flex;
	justify-content: space-evenly;
}
a {
	padding: 10px;
	margin: auto 10px;
	text-decoration: none;
	color: var(--secondary);
	font-size: 1em;
	transition: 0.5s;
}

a:hover {
	color: var(--quartenary);
	font-size: 1.1em;
	transition: 0.5s;
}