.containingEl {
    margin: 2px;
    background-color: var(--tertiary);
}

.cellEl {
    color: var(--quintenary) !important;
    padding: 3px 16px !important;
}

.cellHeadEl {
    color: var(--quintenary) !important;
    font-weight: bolder !important;
}