.divEl {
    display: flex;
    justify-content: center;
}

.btnEl {
	background-color: var(--secondary) !important;
	color: white !important;
    transition: 0.75s;
}

.btnEl:hover {
    background-color: white !important;
	color: var(--secondary) !important;
    transition: 0.75s
}
