.divEl {
    display: flex;
    justify-content: center;
}

.btnEl {
	background-color: var(--quintenary) !important;
	color: var(--primary) !important;
    transition: 0.5s;
}

.btnEl:hover {
    background-color: var(--primary) !important;
	color: var(--quintenary) !important;
    transition: 0.5s
}
