@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");

:root {
	--primary: #48cae4;
	--secondary: #b23a48;
	--tertiary: #ebcfb2;
	--quartenary: #e1ce7a;
	--quintenary: #424b54;
}
html {
	font-size: 100%;
}

body {
	margin: 0;
	font-family: "Radio Canada", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--quintenary);
	min-height: 100vh;
}
div#root {
	min-height: 125vh;
}
main {
	padding: 10px;
	max-width: 95vw;
}

footer {
	padding: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999)));
}
